$red:#c40d0d;
$cream:#fffffd;


html {
     width: 100%;
     height: 100%;
}

body {
     -webkit-user-select: none;
     overflow-y: hidden;
     color: var(--text-color);

     transition: color 0.3s ease-in;

     height: 100%;
     width: 100%;
}

#loanTracker_Container {
     height: 100%;
     width: 100%;
}

body.green {
     --theme-color: #36733F;

     --bg-color-general: #fffffd;
     --bg-contrast-light: #E7F2D5;
     --bg-contrast-lighter: #B4D9B6;
     --bg-contrast-high: #022601;
     --bg-color-theme: #36733F;

     --text-color: #212529;
     --text-color-theme: #36733F;

     --nav-bg: #f3f3f3;


}

body.dark-green {
     --theme-color: #36733F;

     --bg-color-general: #212529;
     --bg-contrast-light: #022601;
     --bg-contrast-lighter: #404f41;
     --bg-contrast-high: #36733F;
     --bg-color-theme: #022601;

     --text-color: #fffffd;
     --text-color-theme: #91BF8F;

     --nav-bg: #16191b;
}



// ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar -----
/* width */
::-webkit-scrollbar {
     width: 8px;
     height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
     background: var(--bg-contrast-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: var(--text-color-theme);
     border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: --bg-contrast-lighter;
}

#flareMusicContainer {
     height: 100%;
     -webkit-user-select: none;
}

.content-wrapper {
     height: 100%;
     background-color: black;
     padding-top: 50px;
     transition: background-color 1s;
}



// ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar -----
.appContainer {
     display: flex;
     width: 100%;
     height: 100%;
     align-items: stretch;
     background-color: var(--nav-bg);
}

.navigationBar {
     width: 210px;
     flex-grow: 0;
     flex-shrink: 0;
     align-items: flex-start;
     background-color: var(--nav-bg);
     overflow: hidden;
}

.navItemLogo {
     padding-top: 20px;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 90px;
     margin-bottom: 20px;
}


.navLogo {
     height: 60px;
     image-rendering: crisp-edges;
}

.navItem {
     width: 100%;
     height: 60px;
}

.navItem:hover {
     background-color: var(--bg-contrast-lighter);
}

.activeNavItem:hover {
     background-color: var(--bg-color-general);    
}

.navLink {
     width: 100%;
     height: 60px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: flex-start;
     align-items: center;
}

.navItem h6 {
     padding-top: 10px;
     text-align: left;
     padding-left: 10px;
     color: #999999;
}

.navIcon {
     height: 25px;
     width: 30px;
     padding-left: 5px;
     color: #999999;
}

.overviewNavIcon {
     padding-left: 3px;
}



.allLoansDropDown {
     max-height: 60px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     transition: all 0.3s ease-out;
     overflow-y: hidden;
     overflow-x: hidden;
     color: #999999;
     
}

.allLoansChevron {
     margin-left: auto;
     margin-right: 30px;
}

.allLoansChevron > svg {
     height: 100%;
     transition: all 0.3s ease-out;
}

.allLoansDropDown:hover {
     max-height: 500px;
}

.allLoansDropDown:hover .allLoansChevron > svg {
     transform: rotate(90deg);
}

.allLoansDropDownHeader {
     flex-basis: 100%;
     min-width: 100%;
     min-height: 60px;
     height: 60px;
     padding-left: 17px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: flex-start;     
}

.allLoansDropDownHeader:hover {
     background-color: var(--bg-contrast-lighter);
}

.allLoansDropDownHeader > h6 {
     padding-left: 10px;
     padding-top: 10px;
}

.allLoansNavIcon {
     position: relative;
     float: left;
}


.allLoansDropDownList {
     width: 210px;
}

.allLoansDropDownItem {
     height: 50px;
     padding-left: 15px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     cursor: pointer;
}

.allLoansDropDownItem:hover {
     background-color: var(--bg-contrast-lighter);
}

.allLoansDropDownTitle {
     padding-top: 10px;
     color: #999999;
}

.activeNavItem {
     background-color: var(--bg-color-general);
}

.activeNavItem h6 {
     color: var(--text-color);
}

.activeNavItem .navIcon {
     color: var(--theme-color);
}

.activNavIndicator {
     width: 0;
     height: 50px;
     border-radius: 10px;
     position: relative;
     top: -55px;
     left: 220px;
     opacity: 0;
     transition: all 0.35s ease-out;
}

.allLoansDropDownItem > .activNavIndicator {
     position: relative;
     height: 40px;
     top: 0;
     left: 20px;
}

.allLoansDropDownItem.activeNavItem > .activNavIndicator {
     left: 10px;
}

.activeNavItem .activNavIndicator {
     background-color: var(--theme-color);
     width: 20px;
     left: 202px;
     opacity: 1;
}

.activeLoanDropdown {
     background-color: var(--bg-contrast-light);
}



// ----- Shared Classes ----- Shared Classes ----- Shared Classes ----- Shared Classes ----- Shared Classes ----- Shared Classes ----- Shared Classes ----- Shared Classes -----
.viewsContainerParent {
     background-color: var(--bg-color-general);
     z-index: 2;
     flex-basis: calc(100% - 210px);
     border-radius: 20px 0 0 20px;
     overflow-x: hidden;
     overflow-y: hidden;
     border: 1px solid var(--theme-color);

     min-width: 940px;

}

.viewsContainer {
     width: 100%;
     height: 100%;
     overflow-x: hidden;
     overflow-y: hidden;
}


.componentContainer {
     width: 100%;
     height: 100vh;
     overflow-y: hidden;
     padding-top: 8px;
     padding-left: 8px;
     padding-bottom: 8px;
     padding-right: 4px;
     border-radius: 20px 0 0 20px;
     background-color: var(--bg-contrast-light);
}

.componentTitle {
     font-size: 3em;
     margin-bottom: 10px;
     height: 60px;
}

.dashboardModulesContainer {
     width: 100%;
     height: calc(100% - 70px);
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     align-content: space-between;
     overflow-y: auto;
     padding-right: 4px;
}

.dashboardModule {
     border: 1px solid var(--theme-color);
     padding: 5px;
     background-color: var(--bg-color-general);
     border-radius: 5px;

}

.moduleHeader {
     height: 40px;
     margin-bottom: 5px;
     padding-left: 5px;
}

.moduleContent {
     height: calc(100% - 45px);
}


// ----- AddALoan ----- AddALoan ----- AddALoan ----- AddALoan ----- AddALoan ----- AddALoan ----- AddALoan ----- AddALoan -----
.addALoanForm > .dashboardModule {
     margin-bottom: 1%;
}

.typeOfLoan {
     flex-basis: 100%;
}

.typeOfLoanContent {
     margin-top: 10px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
}

.loanTypeButtonGroup {
     flex-basis: 19%;
}

.loanTypeButton {
     width: 100%;
     display: flex;
     flex-direction: column;
}

.loanTypeIMG {
     flex-basis: 100%;
}

.loanTypeIMG > svg {
     height: 100px;
     width: 100px;
}

.loanForm > .dashboardModule {
     margin-bottom: 1%;
}

.loanForm > .dashboardModule:last-child {
     margin-bottom: 0;
}

.componentForm {
     padding: 10px;
}

.componentForm > .row:first-child {
     margin-bottom: 15px;
}

.addALoanFormLabel {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
}

.addALoanHelpOverlay {
     position: relative;
     top: -2px;
     margin-left: 5px;
     cursor: help;
     color: var(--theme-color);
}

// Required Info -----
.addALoanRequiredInfo {
     flex-basis: 100%;
}


.disbursementDateDiv {
     flex-basis: 30%;

}

.paymentDateDiv {
     margin-left: 1%;
     flex-basis: 35%;
}

.nextDateGeneratorDiv {
     margin-left: 1%;
     flex-basis: 34%;
     margin-top: 9px;
     height: 88px;
}

.nextPaymentReturn {
     border: 1px solid var(--theme-color);
     padding: 5px;
     border-radius: 5px;
}







// Repayment Options -----

.interestRateDiv {
     flex-basis: 30%;
}

.formGroupRow {
     display: flex;
     flex-wrap: nowrap;
     align-items: flex-start;
     padding-left: 20px;
     padding-right: 20px;
     width: 100%;
     margin-bottom: 20px;
}

.paybackChoiceDiv {
     flex-basis: 100%;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: flex-start;

     display: flex;
}

.repaymentOptionContent {
     margin-top: 25px;
     flex-basis: 100%;
     display: flex;
     justify-content: space-evenly;
     flex-direction: row;
     flex-wrap: nowrap;
}



.radioButtonContainer {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
}

.radioButtonIcons {
     display: grid;
}

.radioButtonUnchecked, .radioButtonChecked {
     height: 20px;
     width: 20px;
     margin-right: 6px;
     grid-column: 1;
     grid-row: 1;
}


.radioButtonTitle {
     padding-top: 5px;
}

.paybackChoiceHeader {
     flex-basis: 100%;
     margin-top: 10px;
     margin-bottom: 10px;
     text-align: center;
}

.paybackRadioDiv {
     flex-basis: 45%;
     border: 1px solid var(--theme-color);
     background-color: var(--bg-color-general);
     border-radius: 5px;
     padding: 7px;
}


.paybackVariablesGroup {
     align-items: center;
}

.paybackFieldsAnimationParent {
     overflow-x: hidden;     
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     height: 290px;
}

.repaymentOptions {
     flex-basis: 45%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: auto;
     margin-bottom: auto;
}

.paybackFieldsTotal {
     min-width: 100%;
     position: relative;
     left: 0;
}

.paybackFieldsCurrent {
     min-width: 100%;
     position: relative;
     left: 0;
}

.monthlyPaymentDiv {
     width: 100%;
}

.monthlyPaymentDiv > label {
     display: block;
}

.monthlyPaymentDiv > input {
     width: 100%;
}

.paybackLabelAnimation {
     height: 24px;
     overflow: hidden;
}

.mathSymbol {
     display: flex;
     justify-content: center;
}

.mathSymbolMultiply {
     width: 100%;
     margin-top: 10px;
     margin-bottom: 10px;
}

.mathSymbolMultiply svg {
     width: 20px;
     color: var(--theme-color);
}

.termLengthDiv {
     width: 100%;
}

.termLengthDiv > label {
     display: block;
}

.termLengthDiv > input {
     width: 100%;
}

.mathSymbolEquals {
     flex-basis: 10%;
     margin: auto;
}

.mathSymbolEquals svg {
     width: 20px;
     color: var(--theme-color);
}

.totalLoanAmountDiv {
     flex-basis: 45%;
     border: 1px solid var(--theme-color);
     border-radius: 5px;
     text-align: center;
     margin: auto;
     padding: 10px;
     height: 50%;
}

.totalLoanAmountTitle * {
     display: inline;
}


.presentValueDiv {
     width: 100%;
}

.presentValueDiv > input {
     width: 100%;
}

.mathSymbolCalc {
     width: 100%;
     margin-top: 10px;
     margin-bottom: 10px;
}

.mathSymbolCalc svg {
     width: 20px;
     color: var(--theme-color);
}

.loanEquation {
     padding: 5px;
     margin: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.loanEquation * {
     text-align: center;
}

.loanEquationEquals {
     margin-right: 2px;
}

.loanEquationNumerator {
     border-bottom: 1px solid var(--theme-color);
}

.addALoanOptionalInfo {
     flex-basis: 100%;
}

.optionalInfoDesc {
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
}

.loanLinkDiv {
     flex-basis: 95%;
}

.additionalNotesDiv {
     flex-basis: 95%;
}

.addALoanSubmitCancel {
     flex-basis: 100%;
     display: flex;
     justify-content: space-evenly;
}

.addALoanSubmitCancel button {
     width: 30%;
}


// these should always be on the bottom
.hideThisFormBlock {
     display: none;
}



// ----- DashBoard ----- DashBoard ----- DashBoard ----- DashBoard ----- DashBoard ----- DashBoard ----- DashBoard ----- DashBoard -----
.noLoansDiv {
     width: 90%;
     text-align: center;
     padding: 20px;
     position: relative;
     top: 25%;
     left: 5%;
     border: 1px solid var(--theme-color);
     background-color: var(--bg-color-general);
}

.activeLoans {
     flex-basis: 60%;
     height: 59%;
}

.activeLoansGraphs {
     flex-basis: 39%;
     height: 59%;
}

.recentTrackedPayments {
     flex-basis: 100%;
     height: 40%;
}



// ----- LoanItem ----- LoanItem ----- LoanItem ----- LoanItem ----- LoanItem ----- LoanItem ----- LoanItem ----- LoanItem -----
.loanItem {
     height: 115px;
     margin: 5px;
     padding: 10px;
     background-color: var(--bg-color-general);
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s ease-out;
     border-radius: 5px;
}

.paidOffLoan {
     opacity: 0.33;
}

.loanItem:hover {
     box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}

.loanCategoryIcon svg {
     height: 31px;
     width: 31px;
     margin-top: 30px;
     margin-right: 5px;    
}

.loanItemTable {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: stretch;
}

.loanCategoryIcon {
     height: 100%;
     align-self: baseline;
}

.loanItemMainRow {
     border-left: 1px solid var(--text-color-theme);
     padding-left: 5px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     width: 100%;
}

.loanItemTopRow {
     height: 20px;
     flex-basis: 100%;
}

.interestRateSpan {
     font-size: 13px;
     color: var(--text-color-theme);
}

.textSeparatorbullet {
     padding-left: 10px;
     padding-right: 10px;
}

.loanItemBottomRow {
     width: 100%;
     display: flex;
     justify-content: flex-start;
}

.loanTitle {
     padding-right: 5px;
     flex-basis: 60%;
}

.paymentsAndButtons {
     min-width: auto;
     margin-left: auto;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row-reverse;
}

.paymentAndDate {
     padding-left: 5px;
     flex-basis: 100%;
     text-align: right;
     margin-right: 5px;
}

.paymentsAndButtons button {
     margin-right: 1px;
     height: 31px;
}

.btn-light {
     border: 1px solid var(--bg-contrast-high);
}



// ----- PieChart ----- PieChart ----- PieChart ----- PieChart ----- PieChart ----- PieChart ----- PieChart ----- PieChart -----
.pieChartCenterTextTop {
     font-weight: 700;
     font-size: 1.5em;
     fill: var(--text-color);
     text-anchor: middle;
}

.pieChartCenterTextBottom {
     font-size: 0.8em;
     fill: var(--text-color-theme);
     text-anchor: middle;
}



// ----- LoanItemView ----- LoanItemView ----- LoanItemView ----- LoanItemView ----- LoanItemView ----- LoanItemView ----- LoanItemView ----- LoanItemView -----
.loanTools {
     flex-basis: 29%;
     height: 37%;
}

.loanTools > .moduleContent {
     display: flex;
     flex-wrap: no-wrap;
     flex-direction: column;
     
     align-items: space-evenly;
     overflow-y: auto;
} 

.loanTools > .moduleContent > button {
     margin: 2px;
     font-size: 1.1em;
     padding: 8px;
}

.loanItemType {
     display: flex;
     align-items: baseline;
}

.loanTypeInfoDiv {
     margin-left: 10px;
}

.loanItemType svg {
     position: relative;
     top: -3px;
} 

.btn-overlay {
     border: none;
     margin: 0;
     padding: 0;
     height: 26px;
     width: 26px;
     padding: 4px;
     position: relative;
     top: -3px;
     background-color: var(--bg-color-general);
}

.loanInfoTypeHelp {
     height: 18px;
     width: 18px;
     color: var(--text-color-theme);
}

.loanInfoHeader {
     padding-left: 5px;
     padding-right: 5px;
}

.loanInfoHeader > span {
     display: block;
}

.loanQuickInfo {
     flex-basis: 70%;
     height: 37%;
}

.recentlyRecordedPayments {
     margin-top: 1%;
     flex-basis: 60%;
     height: 43%;
}

.loanData {
     margin-top: 1%;
     flex-basis: 39%;
     height: 43%;
}

.loanDataTable {
     height: 100%;
     overflow-y: auto;
}

.loanDataAdditionalNotes {
     position: relative;
     top: -5px;
     width: 100%;
     padding-left: 7px;
     padding-right: 7px;
}

.loanDataAdditionalNotes > h6 {
     border-bottom: 1px solid grey;
}

.paymentsOverTime {
     margin-top: 1%;
     flex-basis: 100%;
     height: 40%;
}

.paymentsOverTiemChart {
     width: 100%;
     padding-top: 20px;
     height: calc(100% - 50px);
     border: 1px dashed var(--bg-color-theme);
}









// ----- Rechart ----- Rechart ----- Rechart ----- Rechart ----- Rechart ----- Rechart ----- Rechart ----- Rechart -----
.customChartTooltip {
     background-color: var(--bg-color-general);
     padding: 5px;
     border: 1px solid var(--bg-contrast-high);
}

.customChartTooltip span {
     display: block;
}

.recharts-responsive-container {
     position: relative;
     height: 100%
}


// ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem -----
.paymentOrFeeItem {
     background-color: var(--bg-color-general);
     border: 1px solid;
     margin: 5px;
     padding: 7px;
     display: flex;
     border-radius: 5px;
     align-items: center;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s ease-out;
}

.paymentOrFeeItem:hover {
     box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}

.paymentOrFeeItem div {
     padding-left: 10px;
     padding-right: 10px;
}

.paymentOrFeeItemName {
     border-right: 1px solid var(--theme-color);
}

.paymentOrFeeItemAmount {
     border-right: 1px solid var(--theme-color);
}

.paymentOrFeeItemAmount span {
     font-weight: 500;
}

.paymentOrFeeItemAmount .payment {
     color: var(--theme-color);
     border: 1px solid var(--theme-color);
     padding: 2px 4px 2px 4px;
}

.paymentOrFeeItemAmount .lateFee {
     color: $red;
     border: 1px solid $red;
     padding: 2px 4px 2px 4px;
}

.deletePaymentLateFeeButton {
     margin-left: auto;
}



// ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal -----
.loanItemViewRangeSlider {
     text-align: center;
     display: flex;
     margin-top: 5px;
     flex-wrap: wrap;
     padding: 25px;
}

.rangeSelectorFull {
     margin: auto;
     flex-basis: 100%;
     text-align: center;
}

.rangeSelectorSmall {
     margin-top: 15px;
     flex-basis: 22.5%;
}

.rangeSelectorSmall label {
     font-size: 0.8em;
}

.rangeSelectorLarge {
     flex-basis: 55%;
}

.rangeSelectorLarge input{
     border: none;
}

.rangeSelectorInputHolder {
     width: 50%;
     margin: auto;
     margin-bottom: 5px;
}

// from : https://www.cssportal.com/style-input-range/
input[type=range] {
     height: 58px;
     -webkit-appearance: none;
     margin: 10px 0;
     width: 100%;
}

input[type=range]:focus {
     outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
     width: 100%;
     height: 6px;
     cursor: pointer;
     animate: 0.2s;
     box-shadow: 0px 0px 0px #000000;
     background: #36733F;
     border-radius: 50px;
     border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
     box-shadow: 0px 0px 0px #000000;
     border: 2px solid #0A0A0A;
     height: 50px;
     width: 10px;
     border-radius: 4px;
     background: #FFFFFF;
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -23.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
     background: #36733F;
}

input[type=range]::-moz-range-track {
     width: 100%;
     height: 6px;
     cursor: pointer;
     animate: 0.2s;
     box-shadow: 0px 0px 0px #000000;
     background: #36733F;
     border-radius: 50px;
     border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
     box-shadow: 0px 0px 0px #000000;
     border: 2px solid #0A0A0A;
     height: 50px;
     width: 10px;
     border-radius: 4px;
     background: #FFFFFF;
     cursor: pointer;
}

input[type=range]::-ms-track {
     width: 100%;
     height: 6px;
     cursor: pointer;
     animate: 0.2s;
     background: transparent;
     border-color: transparent;
     color: transparent;
}

input[type=range]::-ms-fill-lower {
     background: #36733F;
     border: 1px solid #000000;
     border-radius: 100px;
     box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
     background: #36733F;
     border: 1px solid #000000;
     border-radius: 100px;
     box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
     margin-top: 1px;
     box-shadow: 0px 0px 0px #000000;
     border: 2px solid #0A0A0A;
     height: 50px;
     width: 10px;
     border-radius: 4px;
     background: #FFFFFF;
     cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
     background: #36733F;
}

input[type=range]:focus::-ms-fill-upper {
     background: #36733F;
}



// ----- List Maps -----
.listContainer {
     border-top: 1px solid var(--bg-contrast-high);
     height: 100%;
}

.list {
     width: 100%;
     display: flex;
     flex-direction: column;
     height: 100%;
     overflow-y: auto;
     padding-top: 5px;
     padding-bottom: 5px;
     
}



// ----- AllLoans ----- AllLoans ----- AllLoans ----- AllLoans ----- AllLoans ----- AllLoans ----- AllLoans ----- AllLoans -----
.activeLoansAllLoans {
     flex-basis: 100%;
     height: 75%;
}

.totalLoanAmount {
     flex-basis: 40%;
     background-color: var(--bg-color-general);
     height: 24%;
}

.allLoansGrandTotal {
     text-align: center;
     padding: 10px;
     border: 1px solid var(--theme-color);
     border-radius: 5px;
}

.paidOffLoansAllLoans {
     flex-basis: 59%;
     height: 24%;
}



// ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal -----
.monthlyPayDiv {
     text-align: center;
     padding: 5px;
}



// ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal -----
.monthlyTotalDiv {
     text-align: center;
     padding: 5px;
}



// ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget -----
.budgetTools {
     flex-basis: 25%;
}

.budgetTools button {
     margin: 2px;
     width: 100%;
}

.btn-AddALoan {
     background-color: #8F0E1D;
}

.btn-AddMonthlyBill {
     background-color: #FF4A5F;
}

.btn-AddMonthlyExpense {
     background-color: #DB2A3F;
}

.btn-AddMonthlyIncome {
     background-color: #36733F;
}

.btn-AddMonthlySavings {
     background-color: #3FB559;
}

.incomesAndDeductions {
     flex-basis: 74%;
     width: 74%;
}

.budgetListsGrid {
     width: auto;
}

.budgetList {
     border: 1px solid var(--bg-contrast-high);
     padding: 7px;
     text-align: center;
     display: flex;
     flex-direction: column;
     background-color: var(--bg-color-general);
     margin: 3px;
}

.incomesBudgetList {
     width: calc(100% - 6px);
}

.budgetTotals {
     width: 100%;
     display: flex;
}

.budgetListsDeductions {
     flex-basis: 25%;
     width: 24%;
}

.budgetListGrandTotal {
     white-space: nowrap;
     text-overflow: ellipsis;
     display: block;
     overflow: hidden;
     margin-top: auto;
}

.totalRemainingIncome {
     width: calc(100% - 6px);
}

.totalsBreakdown {
     margin-top: 1%;
     margin-bottom: 3.5%;
}



// ----- BudgetLists ----- BudgetLists ----- BudgetLists ----- BudgetLists ----- BudgetLists ----- BudgetLists ----- BudgetLists ----- BudgetLists -----
.budgetLists h3 {
     margin-top: auto;
}

.budgetListTooltipTableRow {
     width: 100%;
     border-bottom: 1px solid white;
}

.budgetListTooltipTableData {
     width: 50%;
     position: relative;
     float: left;
}

.budgetTable {
     min-width: 0;
}

.budgetTableRow {
     width: auto;
     min-width: 0;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     
     padding-left: 3px;
     padding-right: 3px;
     padding-top: 2px;
     padding-bottom: 2px;

     border-top: 1px solid var(--bg-contrast-lighter);

     transition: all 0.2s ease-out;
}

.budgetTableRow:last-child {
     border-bottom: 1px solid var(--bg-contrast-lighter);
}

.budgetTableRow:hover {
     background-color: var(--bg-contrast-lighter);
}

.budgetTableFloatLeft {
     text-align: left;
     width: 50%;
}

.budgetTableFloatRight {
     text-align: right;
     width: 50%;
}

.budgetTableRow span {
     white-space: nowrap;
     text-overflow: ellipsis;
     width: auto;
     display: block;
     overflow: hidden;
}



// ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList -----
.editDeleteItemTable {
     text-align: center;
     max-width: 100%;
     word-wrap: break-word;
}

.editDeleteTableButtons button{
     margin: 0 2px 0 2px;
}



// ----- Modal ----- Modal ----- Modal ----- Modal ----- Modal ----- Modal ----- Modal ----- Modal -----
.modal-content {
     background-color: var(--bg-color-general);
}



// ----- Popover ----- Popover ----- Popover ----- Popover ----- Popover ----- Popover ----- Popover ----- Popover -----
.customPopover {
     background-color: var(--bg-color-general);
     border: 1px solid var(--bg-contrast-high);
     color: var(--text-color);
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.customPopoverHeader {
     background-color: var(--bg-contrast-light);
     color: var(--text-color);
}

.customPopoverBody {
     color: var(--text-color);
}



// ----- PasscodeModal ----- PasscodeModal ----- PasscodeModal ----- PasscodeModal ----- PasscodeModal ----- PasscodeModal ----- PasscodeModal ----- PasscodeModal -----
.passwordInput {
     height: 120px;
     background-color: var(--bg-color-general);
     color: var(--text-color-theme);
     font-size: 120px;
     border: none;
     box-shadow: none;
     text-align: center;
     border-bottom: 1px solid var(--bg-contrast-lighter);
}

.passwordInput:focus {
     background-color: var(--bg-color-general);
     color: var(--text-color-theme);
     border: none;
     box-shadow: none;
     border-bottom: 1px solid var(--bg-contrast-lighter);
}



// ----- Settings ----- Settings ----- Settings ----- Settings ----- Settings ----- Settings ----- Settings ----- Settings -----
.themeButtonIcon {
     position: relative;
     top: -2px;
     margin-right: 10px;
}





// React Transition Group Animations



// simple fade in / grow animation
// .amortizedLoanForm-enter {
     // opacity: 0;
     // transform: scale(0.9);
// }

// .amortizedLoanForm-enter-active {
//      opacity: 1;
//      transform: scale(1);
//      transition: opacity 300ms, transform 300ms;
// }

// .amortizedLoanForm-exit {
//      opacity: 1;
// }

// .amortizedLoanForm-exit-active {
     // opacity: 0;
     // transform: scale(0.9);
     // transition: opacity 300ms, transform 300ms;
// }


.routerFade-enter {
     opacity: 0;
     transform: scale(0.98);
}

.routerFade-enter-active {
     opacity: 1;
     transform: scale(1);
     transition: opacity 300ms, transform 300ms;
}

.routerFade-exit {
     opacity: 1;
}

.routerFade-exit-active {
     opacity: 0;
     transform: scale(0.98);
     transition: opacity 300ms, transform 300ms;
}



// AddALoan View
// amortized loan
.amortizedLoanForm-enter {
     opacity: 0;
     transform: translate(0, 200%);
     
}

.amortizedLoanForm-enter-active {
     opacity: 1;
     transform: translate(0, 0);
     
     transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.amortizedLoanForm-exit {
     opacity: 1;
     transform: translate(0, 0);
     
}

.amortizedLoanForm-exit-active {
     opacity: 0;
     transform: translate(0, 200%);
     
     transition: opacity 300ms ease-in, transform 300ms ease-in;
}



// AddALoan View - uncheck buttons
.radioButtonUncheckAnimation-enter {
     opacity: 0;
     transform: scale(0);
     
}

.radioButtonUncheckAnimation-enter-active {
     opacity: 1;
     transform: scale(1);
     
     transition: opacity 3000ms ease-out, transform 3000ms ease-out;
}

.radioButtonUncheckAnimation-exit {
     opacity: 1;
     transform: scale(1);
     
}

.radioButtonUncheckAnimation-exit-active {
     opacity: 0;
     transform: scale(0);
     
     transition: opacity 3000ms ease-in, transform 3000ms ease-in;
}



// AddALoan View - uncheck icon
.radioButtonUncheckAnimation-enter {
     opacity: 0;
     transform: scale(0);
     
}

.radioButtonUncheckAnimation-enter-active {
     opacity: 1;
     transform: scale(1);
     
     transition: opacity 150ms linear, transform 150ms linear;
}

.radioButtonUncheckAnimation-exit {
     opacity: 1;
     transform: scale(1);
     
}

.radioButtonUncheckAnimation-exit-active {
     opacity: 0;
     transform: scale(0);
     
     transition: opacity 0ms linear, transform 0ms linear;
}



// AddALoan View - check icon
.radioButtonCheckAnimation-enter {
     opacity: 0;
     transform: scale(0);
     
}

.radioButtonCheckAnimation-enter-active {
     opacity: 1;
     transform: scale(1);
     
     transition: opacity 150ms ease-out, transform 150ms ease-out;
}

.radioButtonCheckAnimation-exit {
     opacity: 1;
     transform: scale(1);
     
}

.radioButtonCheckAnimation-exit-active {
     opacity: 0;
     transform: scale(0);
     
     transition: opacity 0ms ease-in, transform 0ms ease-in;
}



// AddALoan View - paybackFromTotalFields
.paybackFromTotalFields-enter {
     left: -100%;
}

.paybackFromTotalFields-enter-active {
     left: 0;
     transition: left 300ms ease-out;
}

.paybackFromTotalFields-exit {
     left: 0;
}

.paybackFromTotalFields-exit-active {
     left: -100%;
     transition: left 300ms ease-out;
}



// AddALoan View - paybackFromCurrentFields
.paybackFromCurrentFields-enter {
     left: 0;
}

.paybackFromCurrentFields-enter-active {
     left: -100%;
     transition: left 300ms ease-out;
}

.paybackFromCurrentFields-exit {
     left: -100%;
}

.paybackFromCurrentFields-exit-active {
     left: 0;
     transition: left 300ms ease-out;
}
