$red:#c40d0d;
$cream:#fffffd;


body {
     -webkit-user-select: none;
     overflow-y: hidden;
     color: var(--text-color);
}

body.green {
     --theme-color: #36733F;

     --bg-color-general: #fffffd;
     --bg-contrast-light: #E7F2D5;
     --bg-contrast-lighter: #B4D9B6;
     --bg-contrast-high: #022601;
     --bg-color-theme: #36733F;

     --text-color: #212529;
     --text-color-theme: #36733F;
}

body.dark-green {
     --theme-color: #36733F;

     --bg-color-general: #212529;
     --bg-contrast-light: #022601;
     --bg-contrast-lighter: #404f41;
     --bg-contrast-high: #36733F;
     --bg-color-theme: #022601;

     --text-color: #fffffd;
     --text-color-theme: #91BF8F;
}



// ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar ----- Native Scrollbar -----
/* width */
::-webkit-scrollbar {
     width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
     background: var(--bg-contrast-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: var(--text-color-theme);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: --bg-contrast-lighter;
}

#flareMusicContainer {
     height: 100%;
     -webkit-user-select: none;
}

.content-wrapper {
     height: 100%;
     background-color: black;
     padding-top: 50px;
     transition: background-color 1s;
}



// ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar ----- Navigation Bar -----
.navbar-custom {
     background-color: var(--bg-color-theme);
}

.navbar-brand {
     padding-left: 20px;
     padding-right: 20px;
     border-right: 1px solid $cream;
}

.navbar-nav {
     width: 100%;
}

.navbarIcon {
     width: 20px;
     height: 20px;
     color: $cream;
}

.windowButtons > .btn-custom {
     background-color: var(--text-color-theme);
     width: 40px;
     height: 40px;
     padding: 0;
     margin-left: 2px;
     box-shadow: none;
     border: none;
}

.windowButtons > .btn-custom:hover {
     background-color: --bg-contrast-lighter;
}

.windowButtons > .btn-custom:last-child {
     margin-right: 8px;
}

.navbarDraggable {
     -webkit-app-region: drag;
     flex-grow: 500;
}



// ----- Shared Classes ----- Shared Classes ----- Shared Classes ----- Shared Classes ----- Shared Classes ----- Shared Classes ----- Shared Classes ----- Shared Classes -----
.viewsContainerParent {
     padding: 10px;
     height: -webkit-calc(100vh - 56px);

     // from https://stripesgenerator.com/
     background-image: linear-gradient(
          45deg, #b4d9b6 1.39%,
          var(--bg-color-general) 1.39%,
          var(--bg-color-general) 29.17%,
          var(--bg-color-general) 29.17%,
          var(--bg-color-general) 50%,
          var(--bg-contrast-lighter) 50%,
          var(--bg-contrast-lighter) 51.39%,
          var(--bg-color-general) 51.39%,
          var(--bg-color-general) 79.17%,
          var(--bg-color-general) 79.17%,
          var(--bg-color-general) 100%
     );
     background-size: 50.91px 50.91px;
}

.viewsContainerChild {
     border: 1px solid var(--text-color-theme);
     overflow-y: auto;
     height: 100%;
}

.componentContainer {
     background-color: var(--bg-color-general);
     min-height: 100%;
     padding: 10px;
}

.componentTitle {
     margin-bottom: 20px;
}



// ----- AddALoan ----- AddALoan ----- AddALoan ----- AddALoan ----- AddALoan ----- AddALoan ----- AddALoan ----- AddALoan -----
.loanInfoForm {
     margin: 10px;
}

form button {
     margin: 5px;
}

.loanInfoForm div {
     margin-bottom: 10px;
}

.loanTypes {
     display: none;
}

.showLoanTypes {
     display: block;
}

.formGroupLegend {
     position: relative;
     font-size: xx-small;
     top: 11px;
     color: var(--theme-color);
     left: 10px;
     background-color: white;
     padding-left: 2px;
     padding-right: 2px;
}

.totalLoanAmountDiv {
     width: 33%;
}

.formGroupDiv {
     border: 1px solid var(--theme-color);
     padding: 20px;
}

.loanNameDiv {
     flex-basis: 90%;
}

.formGroupRow {
     display: flex;
     flex-wrap: nowrap;
     align-items: flex-start;
     padding: 0;
     margin: 0;
}

.formGroupRow div {
     margin: 5px;
}

.mathSymbol {
     padding-top: 34px;
     flex-basis: 2.5%;
}

.mathSymbol svg {
     width: max-content;
     color: var(--theme-color);
}

input {
     width: 99%;
     border-radius: 2px;
     border: 1px solid var(--text-color-theme);
     height: 36px;
     padding: 6px 12px 6px 12px;
}

.loanLinkDiv {
     flex-basis: 100%;
}



// ----- DashBoard ----- DashBoard ----- DashBoard ----- DashBoard ----- DashBoard ----- DashBoard ----- DashBoard ----- DashBoard -----
.dashboardModules {
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}

.moduleHeader {
     color: var(--theme-color);
     font-size: 16px;
     position: relative;
     top: -13px;
     left: 10px;
     background-color: var(--bg-color-general);
     border: 1px solid var(--theme-color);
     padding: 0 3px 0px 3px;
     width: max-content;
}

.noLoansDiv {
     width: 90%;
     margin: 5%;
     margin-top: 15%;
     text-align: center;
     padding: 20px;
     border: 1px solid var(--theme-color);
     background-color: $cream;
}

.dashboardModule {
     border: 1px solid var(--theme-color);
     padding: 0px 5px 0px 5px;
     background-color: var(--bg-contrast-light);
}

.activeLoans {
     flex-basis: 63%;
     height: 48vh;
}

.loanListContainer {
     width: 100%;
     height: calc(100% - 26px);
     overflow-y: auto;
}

.activeLoansGraphs {
     flex-basis: 36%;
     margin-left: auto;
     height: 48vh;
}

.recharts-responsive-container {
     position: relative;
     margin-top: 5px;
     top: -30px;
     height: calc(100% - 4px);
}

.recentTrackedPayments {
     margin-top: 20px;
     height: 29vh;
     flex-basis: 100%;
}



// ----- RecentlyRecordedPayments ----- RecentlyRecordedPayments ----- RecentlyRecordedPayments ----- RecentlyRecordedPayments ----- RecentlyRecordedPayments ----- RecentlyRecordedPayments ----- RecentlyRecordedPayments ----- RecentlyRecordedPayments -----
.paymentFeeList {
     width: 100%;
     height: calc(100% - 20px);
     position: relative;
     top: -13px;
     overflow-y: auto;
}



// ----- LoanItem ----- LoanItem ----- LoanItem ----- LoanItem ----- LoanItem ----- LoanItem ----- LoanItem ----- LoanItem -----
.loanItem {
     height: 115px;
     padding: 10px;
     margin-right: 5px;
     background-color: var(--bg-color-general);
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
     border-radius: 5px;
     margin-bottom: 5px;
}

.paidOffLoan {
     opacity: 0.33;
}

.loanItem:hover {
     box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}

.loanCategoryIcon svg {
     height: 31px;
     width: 31px;
     margin-top: 30px;
     margin-right: 5px;    
}

.loanItemTable {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: stretch;
}

.loanCategoryIcon {
     height: 100%;
     align-self: baseline;
}

.loanItemMainRow {
     border-left: 1px solid var(--text-color-theme);
     padding-left: 5px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     width: 100%;
}

.loanItemTopRow {
     height: 20px;
     flex-basis: 100%;
}

.interestRateSpan {
     font-size: 13px;
     color: var(--text-color-theme);
}

.textSeparatorbullet {
     padding-left: 10px;
     padding-right: 10px;
}

.loanItemBottomRow {
     width: 100%;
     display: flex;
     justify-content: flex-start;
}

.loanTitle {
     padding-right: 5px;
     flex-basis: 60%;
}

.paymentsAndButtons {
     min-width: auto;
     margin-left: auto;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row-reverse;
}

.paymentAndDate {
     padding-left: 5px;
     flex-basis: 100%;
     text-align: right;
     margin-right: 5px;
}

.paymentsAndButtons button {
     margin-right: 1px;
     height: 31px;
}

.btn-light {
     border: 1px solid var(--bg-contrast-high);
}



// ----- PieChart ----- PieChart ----- PieChart ----- PieChart ----- PieChart ----- PieChart ----- PieChart ----- PieChart -----
.pieChartCenterTextTop {
     font-weight: 700;
     font-size: 1.5em;
     fill: var(--text-color);
     text-anchor: middle;
}

.pieChartCenterTextBottom {
     font-size: 0.8em;
     fill: var(--text-color-theme);
     text-anchor: middle;
}



// ----- LoanItemView ----- LoanItemView ----- LoanItemView ----- LoanItemView ----- LoanItemView ----- LoanItemView ----- LoanItemView ----- LoanItemView -----
.loanItemType {
     display: flex;
     align-items: baseline;
     margin-bottom: 10px;
}

.loanTypeInfoDiv {
     margin-left: 5px;
}

.loanTypeInfoDiv {
     margin-left: 10px;
}

.loanItemType svg {
     position: relative;
     top: -3px;
} 

.btn-overlay {
     border: none;
     margin: 0;
     padding: 0;
     height: 26px;
     width: 26px;
     padding: 4px;
     position: relative;
     top: -2px;
}

.loanInfoTypeHelp {
     height: 18px;
     width: 18px;
     color: var(--text-color-theme);
}

.loanInfoBox {
     background-color: rgba(255, 0, 0, 0.144);
}

.loanInfoHeader {
     padding-left: 5px;
     padding-right: 5px;
     margin-bottom: 30px;
}

.loanInfoHeader > span {
     display: block;
}

.buttonsDiv button {
     margin: 5px;
}

.loanItemViewGraph {
     background-color: var(--bg-contrast-light);
     height: 300px;
}

.loanItemViewGraph .recharts-responsive-container {
     margin-top: 25px;
}

.accordion-body {
     border: 1px solid var(--theme-color);
     background-color: var(--bg-contrast-light);
}

.accordion-body > .recharts-responsive-container {
     top: 0;
}

.loanTools {
     flex-basis: 29%;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding-bottom: 15px;
}

.loanTools > button {
     margin: 2px;
}

.loanQuickInfo {
     margin-left: 1%;
     flex-basis: 70%;
}

.paymentsOverTime {
     margin-top: 2%;
     flex-basis: 60%;
}

.paymentsOverTimeDirections {
     margin-left: 12px;
}

.paymentsOverTiemChart > .recharts-responsive-container{
     position: relative;
     top: 0;
}

.recentlyRecordedPayments {
     margin-left: 1%;
     margin-top: 2%;
     flex-basis: 39%;
}



// ----- Rechart ----- Rechart ----- Rechart ----- Rechart ----- Rechart ----- Rechart ----- Rechart ----- Rechart -----
.customChartTooltip {
     background-color: var(--bg-color-general);
     padding: 5px;
     border: 1px solid var(--bg-contrast-high);
}

.customChartTooltip span {
     display: block;
}



// ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem ----- PaymentLateFeeItem -----
.paymentOrFeeItem {
     background-color: var(--bg-color-general);
     border: 1px solid;
     margin: 0.5%;
     padding: 7px;
     display: flex;
     border-radius: 5px;
     align-items: center;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.paymentOrFeeItem:hover {
     box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}

.paymentOrFeeItem div {
     padding-left: 10px;
     padding-right: 10px;
}

.paymentOrFeeItemName {
     border-right: 1px solid var(--theme-color);
}

.paymentOrFeeItemAmount {
     border-right: 1px solid var(--theme-color);
}

.paymentOrFeeItemAmount span {
     font-weight: 500;
}

.paymentOrFeeItemAmount .payment {
     color: var(--theme-color);
     border: 1px solid var(--theme-color);
     padding: 2px 4px 2px 4px;
}

.paymentOrFeeItemAmount .lateFee {
     color: $red;
     border: 1px solid $red;
     padding: 2px 4px 2px 4px;
}

.deletePaymentLateFeeButton {
     margin-left: auto;
}



// ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal ----- AdjustMonthlyPaymentModal -----
.loanItemViewRangeSlider {
     text-align: center;
     display: flex;
     margin-top: 5px;
     flex-wrap: wrap;
     padding: 25px;
}

.rangeSelectorFull {
     margin: auto;
     flex-basis: 100%;
     text-align: center;
}

.rangeSelectorSmall {
     margin-top: 15px;
     flex-basis: 22.5%;
}

.rangeSelectorSmall label {
     font-size: 0.8em;
}

.rangeSelectorLarge {
     flex-basis: 55%;
}

.rangeSelectorLarge input{
     border: none;
}

.rangeSelectorInputHolder {
     width: 50%;
     margin: auto;
     margin-bottom: 5px;
}

// from : https://www.cssportal.com/style-input-range/
input[type=range] {
     height: 58px;
     -webkit-appearance: none;
     margin: 10px 0;
     width: 100%;
}

input[type=range]:focus {
     outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
     width: 100%;
     height: 6px;
     cursor: pointer;
     animate: 0.2s;
     box-shadow: 0px 0px 0px #000000;
     background: #36733F;
     border-radius: 50px;
     border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
     box-shadow: 0px 0px 0px #000000;
     border: 2px solid #0A0A0A;
     height: 50px;
     width: 10px;
     border-radius: 4px;
     background: #FFFFFF;
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -23.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
     background: #36733F;
}

input[type=range]::-moz-range-track {
     width: 100%;
     height: 6px;
     cursor: pointer;
     animate: 0.2s;
     box-shadow: 0px 0px 0px #000000;
     background: #36733F;
     border-radius: 50px;
     border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
     box-shadow: 0px 0px 0px #000000;
     border: 2px solid #0A0A0A;
     height: 50px;
     width: 10px;
     border-radius: 4px;
     background: #FFFFFF;
     cursor: pointer;
}

input[type=range]::-ms-track {
     width: 100%;
     height: 6px;
     cursor: pointer;
     animate: 0.2s;
     background: transparent;
     border-color: transparent;
     color: transparent;
}

input[type=range]::-ms-fill-lower {
     background: #36733F;
     border: 1px solid #000000;
     border-radius: 100px;
     box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
     background: #36733F;
     border: 1px solid #000000;
     border-radius: 100px;
     box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
     margin-top: 1px;
     box-shadow: 0px 0px 0px #000000;
     border: 2px solid #0A0A0A;
     height: 50px;
     width: 10px;
     border-radius: 4px;
     background: #FFFFFF;
     cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
     background: #36733F;
}

input[type=range]:focus::-ms-fill-upper {
     background: #36733F;
}



// ----- AllLoans ----- AllLoans ----- AllLoans ----- AllLoans ----- AllLoans ----- AllLoans ----- AllLoans ----- AllLoans -----
.activeLoansAllLoans {
     height: 33vh;
     margin-bottom: 3vh;
     margin-top: 3vh;
}

.paidOffLoansAllLoans {
     height: 33vh;
}



// ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal ----- AddMonthlyIncomeModal -----
.monthlyPayDiv {
     text-align: center;
     padding: 5px;
}



// ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal ----- AddMonthlyBillModal -----
.monthlyTotalDiv {
     text-align: center;
     padding: 5px;
}



// ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget ----- SimpleBudget -----
.budgetTopRow {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-evenly;
     margin-top: 20px;
}

.budgetBottomRow {
     margin: 0.5%;
     margin-top: 20px;
     width: 99%;
}

.budgetQuickLook {
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     flex-basis: 74%;
}

.budgetTools {
     flex-basis: 24%;
     display: flex;
     flex-direction: column;
}

.budgetTools button {
     margin: 2px;
}

.btn-AddALoan {
     background-color: #8F0E1D;
}

.btn-AddMonthlyBill {
     background-color: #FF4A5F;
}

.btn-AddMonthlyExpense {
     background-color: #DB2A3F;
}

.btn-AddMonthlyIncome {
     background-color: #36733F;
}

.btn-AddMonthlySavings {
     background-color: #3FB559;
}

.budgetTotals {
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-evenly;
}



// ----- BudgetLists ----- BudgetLists ----- BudgetLists ----- BudgetLists ----- BudgetLists ----- BudgetLists ----- BudgetLists ----- BudgetLists -----
.budgetLists {
     border: 1px solid var(--bg-contrast-high);
     padding: 7px;
     text-align: center;
     display: flex;
     flex-direction: column;
     background-color: var(--bg-color-general);
     margin: 3px;
     flex-grow: 100;
}

.minus {
     margin: auto;
}

.verticalLine {
     background-color: black;
     padding-bottom: 10px;
     width: 1px;
     margin: auto;
     flex-grow: 500;
}

.budgetLists h3 {
     margin-top: auto;
}

.budgetTableFloatLeft {
     text-align: left;
}

.budgetTableFloatRight {
     text-align: right;
}



// ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList ----- EditDeleteBudgetList -----
.editDeleteItemTable {
     text-align: center;
}

.editDeleteTableButtons button{
     margin: 0 2px 0 2px;
}



// ----- Modal ----- Modal ----- Modal ----- Modal ----- Modal ----- Modal ----- Modal ----- Modal -----
.modal-content {
     background-color: var(--bg-color-general);
}


// Popover
.customPopover {
     background-color: var(--bg-color-general);
     border: 1px solid var(--bg-contrast-high);
     color: var(--text-color);
}

.customPopoverHeader {
     background-color: var(--bg-contrast-light);
     color: var(--text-color);
}

.customPopoverBody {
     color: var(--text-color);
}